{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <img alt="Snooper" src="bundles/snooperbridge/images/track.png"/>
        {% if collector.isdebug %}
            Calls
            <span class="sf-toolbar-value-snooper-count">0</span>
             / Interactions
            <span class="sf-toolbar-value-snooper-interaction-count">0</span>
        {% endif %}
    {% endset %}
    {% set text %}
        <style>
            .sf-toolbar-block.sf-toolbar-block-snooper-collector-tracking:hover .sf-toolbar-info {
                max-width:1000px;
            }
            .sf-toolbar-splitter-wrapper {
                float:left;
            }
            .sf-toolbar-splitter {
                float:left;
            }
            .sf-toolbar-block-snooper-collector-tracking a {
                text-decoration: none;
                color:inherit;
            }
            .sf-toolbar-info-piece hr {
                border-bottom: none;
                border-right: none;
                border-left: none;
                border-top: 1px solid;
            }
            .sf-toolbar-value-snooper-count, .sf-toolbar-value-snooper-interaction-count{
                font-size: 14px;
                line-height:36px;
            }
            .sf-toolbar-snooper-calls, .sf-toolbar-snooper-interactions {
                min-width:200px;
            }
            .sf-toolbar-snooper-calls th, .sf-toolbar-snooper-interactions th {
                background-color: #222;
                border-bottom: 0;
                color: #AAA;
                font-size: 11px;
                padding: 4px;
            }
            .sf-toolbar-snooper-calls td, .sf-toolbar-snooper-interactions td {
                background-color: #444;
                border-bottom: 1px solid #777;
                color: #F5F5F5;
                font-size: 12px;
                padding: 4px;
            }
        </style>
        <div class="sf-toolbar-info-piece">
            Bridge Version {{ print_snooper_bridge_version() }} / Component Version {{ print_snooper_component_version() }}
            <hr>
        </div>
        {% if collector.isdebug %}
            <div class="sf-toolbar-splitter-wrapper">
                <table>
                    <tr>
                        <td>
                            <div class="sf-toolbar-info-piece">
                                <table class="sf-toolbar-snooper-calls">
                                    <thead>
                                    <tr>
                                        <th>Command</th>
                                        <th>Parameters</th>
                                        <th>Parametercount</th>
                                    </tr>
                                    </thead>
                                    <tbody class="sf-toolbar-snooper-calls-list"></tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <div class="sf-toolbar-info-piece">
                                <table class="sf-toolbar-snooper-interactions">
                                    <thead>
                                    <tr>
                                        <th>Target</th>
                                        <th>Event</th>
                                    </tr>
                                    </thead>
                                    <tbody class="sf-toolbar-snooper-interactions-list"></tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': true } %}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon"><img src="/bundles/snooperbridge/images/track.png" alt=""/></span>
        <strong>Snooper</strong>
    </span>
{% endblock %}

{% block panel %}
    <style>
        table.snooper-timeline-table canvas {
            width:100%;
            height: 30px;
        }
    </style>
    <h2>Snooper</h2>

    <div class="sf-tabs">
        {% if collector.isdebug %}
            <div class="tab">
                <h3 class="tab-title">Timeline</h3>
                    <div class="tab-content">
                        <div class="metrics">
                            {% for group,values in collector.timeline %}
                                <div class="metric">
                                    <span class="value">{{ (values.max - values.min) / 1000 }} <span class="unit">ms</span></span>
                                    <span class="label">{{ group }} execution</span>
                                </div>
                            {% endfor %}
                        </div>
                        {% for group,values in collector.timeline %}
                            <h3>{{ group }}</h3>
                            <table class="snooper-timeline-table">
                                {% for data in values.data %}
                                    <tr>
                                        <td style="width:50%;">
                                            {{ data.message }}
                                        </td>
                                        <td style="width:50%;">
                                            <canvas width="440px" height="30px" data-width="400" data-min="{{ values.min }}" data-max="{{ values.max }}" data-type="{{ data.type }}" data-timestamp="{{ data.executionTime }}"></canvas>
                                        </td>
                                    </tr>

                                {% endfor %}
                            </table>
                        {% endfor %}
                    </div>

                <script>
                    document.querySelectorAll('table.snooper-timeline-table canvas').forEach(function(e){
                        let canvas_width = e.dataset.width;
                        let min = e.dataset.min;
                        let max = e.dataset.max;
                        let timestamp = e.dataset.timestamp - min;
                        let type = e.dataset.type;
                        let percent = ((100*timestamp)/(max - min));
                        let x = parseInt((percent * canvas_width) / 100) + 0.5;
                        let ctx = e.getContext('2d');
                        ctx.beginPath();
                        ctx.strokeStyle = '#FF0000';
                        ctx.moveTo(0.5,0.5);
                        ctx.lineTo(0.5,30);
                        ctx.moveTo(0.5,30);
                        ctx.lineTo(canvas_width-0.5,30);
                        ctx.moveTo(canvas_width-0.5,0.5);
                        ctx.lineTo(canvas_width-0.5,30);
                        ctx.stroke();
                        ctx.fillText((Math.round(timestamp/100) / 10)+'ms',x,8);
                        ctx.stroke();

                        if (x > canvas_width - 1) {
                            x = canvas_width - 1;
                        }

                        ctx.beginPath();
                        ctx.lineWidth = 2;
                        ctx.strokeStyle = '#008800';
                        ctx.moveTo(x,10.5);
                        ctx.lineTo(x,30);
                        switch(type) {
                            case 'begin':
                                ctx.moveTo(x,20.5);
                                ctx.lineTo(x+10,20.5);
                                break;
                            case 'end':
                                ctx.moveTo(x,20.5);
                                ctx.lineTo(x-10,20.5);
                                break;
                            default:
                                ctx.moveTo(x,20.5);
                                ctx.lineTo(x,20.5);
                        }
                        ctx.stroke();
                    });
                </script>
            </div>
            <div class="tab">
                <h3 class="tab-title">Content <span class="badge">{{ collector.sections|length }}</span></h3>
                <div class="tab-content">
                    <table>
                        <thead>
                        <tr>
                            <th>Section</th>
                            <th>Content</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for section,values in collector.sections %}
                            {% set first = true %}
                            {% if values|length %}
                                {% for value in values %}
                                    <tr>
                                        <td>{% if first %}{{ section }}{% endif %}</td>
                                        <td style="font-size:9px;">{{ value }}</td>
                                    </tr>
                                    {% set first = false %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>{% if first %}{{ section }}{% endif %}</td>
                                    <td>No content</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        <div class="tab">
            <h3 class="tab-title">Events <span class="badge">{{ collector.events|length }}</span></h3>
            <div class="tab-content">
                <table>
                    <thead>
                        <tr>
                            <th>Eventname</th>
                            <th>Provider-Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for eventName,values in collector.events %}
                            {% set first = true %}
                            {% for className in values %}
                                <tr>
                                    <td>{% if first %}{{ eventName }}{% endif %}</td>
                                    <td>{{ className }}</td>
                                </tr>
                                {% set first = false %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab">
            <h3 class="tab-title">Provider <span class="badge">{{ collector.providers|length }}</span></h3>
            <div class="tab-content">
                <table>
                    <thead>
                        <tr>
                            <th>Registered providers</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for provider in collector.providers %}
                            <tr>
                                <td>{{ provider.name }}</td>
                                <td>{{ provider.active ? 'active' : 'inactive' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h5>
        Bridge Version {{ print_snooper_bridge_version() }} / Component Version {{ print_snooper_component_version() }}
    </h5>
{% endblock %}
